.hello,.hello1,.hello2,.hello3{
    background-color:#ff0000;
}

body{
    overflow-x: hidden;
    position: relative;
}

#partners1,#supports1{
    overflow-x: hidden;
}

#partners,#supports{
    white-space: nowrap;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-timing-function: ease;
}



iframe{
    width:50%;
    height:700;
}


.fancybox-nav span {
  visibility: visible;
}
