.hello,.hello1,.hello2,.hello3{
    background-color:#000000;
}

body{
    overflow-x: hidden;
}

.batch{
    height: 200px;
}


#partners1,#supports1{
    overflow-x: hidden;
}

#partners,#supports{
    white-space: nowrap;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.justify-text{
    text-align:justify;
    text-justify:inter-word;
}

iframe{
    width:50%;
    height:700;
}

.fancybox-nav span {
  visibility: visible;
}


#impact_thumbnail{
    width: 300px;
    height: 300px;
    overflow: auto;
}