.hello,.hello1,.hello2,.hello3{
    background-color:#ff0000;
}

.batch2,.batch3,.batch4,.batch5,.batch6,.batch7{
    width:20%;
    display:none;
    margin-right:2%;
    margin-left:2%;
    padding:0px;
}

.batch1{
    width:20%;
    margin-right:2%;
    margin-left:2%;
    padding:0px;
}